.list-and-map {
  height: 80vh;
}

.list-and-map > .list {
  max-height: 100%;
  overflow-y: scroll;
}

.list-and-map > .map {
  height: 100%;
}
@media (max-width: 992px) {
  #no-result {
    height: 40vh;
    padding-top: 5%;
  }

  .list-and-map {
    height: 60vh;
  }

  .list {
    margin: 10px 0;
  }
}

strong {
  font-weight: 1000;
  font-size: larger;
}

.just {
  display: flex;
  justify-content: space-between;
}

.list > .card {
  margin: 15px 0;
  //margin-bottom: 20px;
  padding: 0;
  cursor: pointer;
}

.list > .card > div > div > .card-body {
  padding: 2%;
}

.list > .card:hover,
.list > .card.selected-card {
  transform: scale(1.03);
  background-color: rgba(177, 177, 177, 0.2);
}

pre {
  min-height: 65px;
  max-height: 65px;
  border: none;
  margin-bottom: 0;
}

img {
  padding: 5%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.filter-row > button {
  min-width: 100px;
}

.filter-row > button {
  height: 100%;
}
#no-result {
  text-align: center;
}

.event-description {
  min-height: 50px;
  max-height: 50px;
  overflow-y: scroll;
}

.card-image-wrapper {
  height: 150px;
}
