<div class="row justify-content-center" xmlns="http://www.w3.org/1999/html">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-event-heading" data-cy="EventCreateUpdateHeading">Create or edit a Event</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.minlength">
              This field is required to be at least 4 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <textarea
            type="text"
            rows="20"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_picture">Picture</label>
          <div>
            <img
              [src]="'data:' + editForm.get('pictureContentType')!.value + ';base64,' + editForm.get('picture')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('picture')!.value"
              alt="event image"
            />
            <div *ngIf="editForm.get('picture')!.value" class="form-text text-danger clearfix">
              <button
                type="button"
                (click)="clearInputImage('picture', 'pictureContentType', 'file_picture')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input type="file" id="file_picture" data-cy="picture" (change)="setFileData($event, 'picture', true)" accept="image/*" />
          </div>
          <input type="hidden" class="form-control" name="picture" id="field_picture" data-cy="picture" formControlName="picture" />
          <input
            type="hidden"
            class="form-control"
            name="pictureContentType"
            id="field_pictureContentType"
            formControlName="pictureContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_when">When</label>
          <div class="d-flex">
            <input
              id="field_when"
              data-cy="when"
              type="datetime-local"
              class="form-control"
              name="when"
              formControlName="when"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('when')!.invalid && (editForm.get('when')!.dirty || editForm.get('when')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('when')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('when')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            <option value="ONLINE">ONLINE</option>
            <option value="OFFLINE">OFFLINE</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_frequency">Frequency</label>
          <select class="form-control" name="frequency" formControlName="frequency" id="field_frequency" data-cy="frequency">
            <option [ngValue]="null"></option>
            <option value="SINGLE">SINGLE</option>
            <option value="DAILY">DAILY</option>
            <option value="WEEKLY">WEEKLY</option>
            <option value="MONTHLY">MONTHLY</option>
            <option value="YEARLY">YEARLY</option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label">Where</label>
          <div
            style="height: 300px"
            leaflet
            [leafletOptions]="mapOptions"
            [leafletLayers]="mapOptions.layers!"
            (leafletClick)="onMapClick($event)"
          ></div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_locationLatitude">Location Latitude</label>
          <input
            readonly
            type="number"
            class="form-control"
            name="locationLatitude"
            id="field_locationLatitude"
            data-cy="locationLatitude"
            formControlName="locationLatitude"
          />
          <div
            *ngIf="
              editForm.get('locationLatitude')!.invalid &&
              (editForm.get('locationLatitude')!.dirty || editForm.get('locationLatitude')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('locationLatitude')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('locationLatitude')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_locationLongitude">Location Longitude</label>
          <input
            readonly
            type="number"
            class="form-control"
            name="locationLongitude"
            id="field_locationLongitude"
            data-cy="locationLongitude"
            formControlName="locationLongitude"
          />
          <div
            *ngIf="
              editForm.get('locationLongitude')!.invalid &&
              (editForm.get('locationLongitude')!.dirty || editForm.get('locationLongitude')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('locationLongitude')?.errors?.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('locationLongitude')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label for="field_categories">Category</label>
          <select class="form-control" id="field_categories" data-cy="category" multiple name="categories" formControlName="categories">
            <option
              [ngValue]="getSelectedEventCategory(eventCategoryOption, editForm.get('categories')!.value)"
              *ngFor="let eventCategoryOption of eventCategoriesSharedCollection; trackBy: trackEventCategoryById"
            >
              {{ eventCategoryOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
